@model IEnumerable<DioklecijanovaLegija.Models.Member>
@{
    ViewBag.Title = "Index";
}
<h2>Members</h2>
@if (!Model.Any())
{
    <p>We don't have any members yet !.</p>
}
else
{
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Member</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Model)
            {
                <tr>
                    <td>@Html.ActionLink(member.Name, "Edit", "Members", new { id = member.Id }, null)</td>
                </tr>
            }
        </tbody>
    </table>
}
